[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "Jenkins-Transfers-Testing"
version = "0.0.01"
description = "Transfers Job b/w Jenkins Servers with relevant Views & Plugins"
readme = "README.md"
license = {text = "MIT License"}
authors = [
    {name = "Joel Thomas Chacko", email = "joeltc071@gmail.com"}
]
dependencies = [
    "python-jenkins == 1.8.2",
    "lxml == 5.1.0"
]
requires-python = ">=3.6"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent"
]

[tool.setuptools.packages.find]
where = ["."]


[project.urls]
Homepage = "https://github.com/pypa/sampleproject"
Issues = "https://github.com/pypa/sampleproject/issues"